.site-section {
    padding: 6em 0;
}

.site-title-fancy {
    font-family: 'tahuregular'; 
}
.site-hero.overlay h1 {
    font-size: 37px;
}
.site-hero-no-image h1 {
    font-size: 33px;
}
.site-hero.overlay h1.site-title-fancy {
    font-size: 70px;
}

.site-hero-no-image {
    padding: 170px 0 90px 0;
    background-color: grey;
}

.alice-carousel {
    li > div {
        margin-right: 10px;
    }
    li div a.img-bg div.text {
        top: 93%;
    }
    a.img-bg {
        
        &:hover {
            box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.4);
        }
    }
}

a.media.media-feature {
    color: unset;
    h3 {
        height: 48px;
    }

    .feature-preview-image {
        content: '';
        width: 100%;
        height: 300px;
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}
.quick-info .media a  {
    .media-body {
        h5 {
            color: #ff6d24;
        }
    }
    &:hover {
        .media-body {
            h5 {
                color: #d74800;
            }
        }
    }
    // color: #fefefe
}

.irregular-row-width-fix {
    width: 100%;
}

@media screen and (min-width: 575px) {
    .site-hero.overlay h1, .site-hero-no-image h1 {
        font-size: 50px;
    }
    .site-title-fancy {
        font-size: 104px !important;
    }
    .quick-info .media {
        padding: 0 16px;
    }
}

@media screen and (min-width: 720px) {
    .site-hero.overlay h1 {
        font-size: 70px;
    }
}


@media screen and (max-width: 575px) {
    .quick-info .media {
        padding: 0 16px;
    }
}
@media screen and (max-width: 404px) {
    a.navbar-brand {
        font-size: 18px;
        margin-right: 5px;
    }
}
@media screen and (max-width: 375px) {
    a.navbar-brand {
        font-size: 16px;
    }
}
@media screen and (max-width: 340px) {
    a.navbar-brand {
        font-size: 15px;
    }
}
@media screen and (max-width: 330px) {
    a.navbar-brand {
        font-size: 13px;
    }
}

// Debugging
// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
//   }